@charset "UTF-8";
body{
    min-width: 320px;
}
.inner{
    width: 80%;
    margin: 0px auto;
}
button{
    background: none;
    border: none;
}
nav ul{
    width: 100vw;
    height: 100vh;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background: rgba(25, 25, 25, 0.25);
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(+100%);
    transition: transform 0.5s;
}
nav ul.on{
    transform: translateX(0%);
    transition: transform 0.5s;
}
nav ul li{
    margin: 0px 0px 20px; 
}
nav ul li:first-child{
    margin: 0px 0px 20px;
}
nav ul li:last-child{
    margin: 0px; 
}
nav button:first-of-type,
nav button:first-of-type img{
    display: block;
}
nav button:last-of-type,
nav button:last-of-type img{
    z-index: 10;
}
.section-one ul{
    writing-mode: vertical-lr;
    text-orientation: mixed;
}
.section-one ul li{
    font-size: 34vw;
}
.section-one button{
    width: 120px;
    right: calc(50% - 60px);
}
/* .section-two .inner{
    flex-direction: column;
} */
.section-two .inner > div:first-of-type{
    width: 100%;
    height: auto;
    padding: 20px 10px;
}
.section-two .inner > div:last-of-type{
    width: 100%;
    height: auto;
    padding: 0px;
}
.section-two div:last-of-type .cross-browsing{
    flex-direction: column;
}
.section-two .shortcut{
    width: 100%;
}
.section-three .about,
.section-three .contact{
    width: 100%;
    height: auto;
}
.section-three .about{
    margin: 0px 0px 40px;
}
.section-three .about::after,
.section-three .contact::after{
    width: 75%;
}
.section-three .about h2, 
.section-three .contact h2{
    margin: 0px 0px 20px;
}
.section-three .about h2 + div, 
.section-three .contact h2 + div{
    height: auto;
}