@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Noto Serif! */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* Noto Seif KR! */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
/* Google Icons!*/
*{
    box-sizing: border-box;
    color: #191919;
    /* outline: 1px solid red; */
    font-family: 'Noto Serif', serif;
    /* font-size: 20px; */
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 320px;
}
.inner{
    width: 1400px;
    margin: 0px auto;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
span.kr{
    font-family: 'Noto Serif KR', serif;
}


section{
    width: 100vw;
    height: 100vh;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 10;
}
nav h2 a{
    font-size: 30px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 80px;
}
nav ul li:hover{
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
nav ul li:first-child{
    margin-left: 0px;
}
nav ul li:hover{
    text-decoration: underline;
}
nav ul li a{
    font-size: 20px;
    font-weight: 700;
}
nav .mobile-menu{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}
nav .clear{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
}
.mySwiper-one{
    width: 100%;
    height: 100%;
    position: relative;
}
.mySwiper-one .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.mySwiper-one .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mySwiper-one .swiper-wrapper .swiper-slide.one{
    min-width: 1920px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.one ul li{
    font-size: 210px;
    font-weight: 700;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.mySwiper-one .swiper-wrapper .swiper-slide.one button{
    height: auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 100px;
    bottom: 100px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.one button .scroll-icon{
    width: 26px;
    height: 40px;
    color: #191919;
    border: solid 2px #191919;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.one button .scroll-icon::after{
    width: 10px;
    height: 10px;
    background-color: #191919;
    border-radius: 5px;
    content: "";
    animation: scroll-icon 1.2s ease-out infinite;
}
@keyframes scroll-icon {
    0% { transform: translateY(-12px); opacity: 0; }
    30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
}
.mySwiper-one .swiper-wrapper .swiper-slide.one button span:last-child{
    font-size: 16px;
    text-align: center;
}

.mySwiper-one .swiper-wrapper .swiper-slide.two{
    padding: 100px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .inner{
    display: flex;
    flex-wrap: wrap;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two h2{
    width: 100%;
    height: 56px;
    font-size: 40px;
    font-weight: 700;
    margin: 40px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .caption{
    width: 550px;
    display: flex;
    flex-direction: column;
    padding: 120px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .caption .project-name{
    margin: 0px 0px 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .project-name dt{
    font-size: 30px;
    font-family: 'Noto Serif KR', serif;
    font-weight: 700;
    margin: 0px 0px 10px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .project-name dd{
    /* color: #767676; */
    font-family: 'Noto Serif KR', serif;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color{
    display: flex;
    margin: 0px 0px 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color h3{
    font-size: 20px;
    font-weight: 700;
    margin: 0px 20px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul{
    display: flex;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul li{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    margin: 0px 20px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul li:last-child{
    margin: 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul li span:first-child{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #f1f1f5;
    display: block;
    margin: 0px 10px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul li span:last-child{
    height: 20px;
    font-weight: 400;
    /* color: #767676; */
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul li:first-child span:first-child{
    background: #1C3E61;
    box-shadow: 1px 3px 5px rgba(25, 25, 25, 0.25);
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .color ul li:last-child span:first-child{
    background: white;
    box-shadow: 1px 3px 5px rgba(25, 25, 25, 0.25);
}
/* Type! */
.mySwiper-one .swiper-wrapper .swiper-slide.two .type{
    height: 28px;
    display: flex;
    margin-bottom: 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .type dt{
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}
/* .mySwiper-one .swiper-wrapper .swiper-slide.two .type dd{
    color: #767676;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .type dd span{
    color: #767676;
} */
/* Program! */
.mySwiper-one .swiper-wrapper .swiper-slide.two .program{
    height: 28px;
    display: flex;
    margin-bottom: 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .program dt{
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}
/* .mySwiper-one .swiper-wrapper .swiper-slide.two .program dd{
    color: #767676;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .program dd span{
    color: #767676;
} */
/* Corss-browsing! */
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing{
    display: flex;
    margin: 0px 0px 40px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing h3{
    font-size: 20px;
    font-weight: 700;
    margin: 0px 20px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul{
    display: flex;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul li{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    /* background: #f1f1f5; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul li:first-child{
    background-image: url(/image/Internet_Explorer_ICON.png);
    position: relative;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul li:first-child::before{
    width: 140px;
    /* color: #767676; */
    content: "IE9, IE10, IE11";
    position: absolute;
    top: 40px;
    left: -30px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul li:nth-child(2){
    background-image: url(/image/Microsoft_Edge_ICON.png);
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul li:nth-child(3){
    background-image: url(/image/Google_Chrome_ICON.png);
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .cross-browsing ul li:last-child{
    background-image: url(/image/Firefox_ICON.png);
    margin-right: 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .caption .button{
    display: flex;
    justify-content: center;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .caption .button li{
    width: 120px;
    height: 30px;
    /* background: #191919; */
    background: rgba(25, 25, 25, 0.75);
    /* border: 1px solid #191919; */
    color: #fff;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    margin: 0px 20px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .caption .button li:last-child{
    margin: 0px;
}

/* project! */
.mySwiper-one .swiper-wrapper .swiper-slide.two .project{
    width: 850px;
    display: flex;
    align-items: center;
}
.mySwiper-one .swiper-wrapper .swiper-slide.two .project div{
    /* width: 810px; */
    width: 100%;
    height: 478px;
    /* height: 0px; */
    /* background: #f1f1f5; */
    background-image: url(image/Cheongju_Mockup.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* .mySwiper-two */
.mySwiper-two{
    width: 100%;
    height: 100%;
}
.mySwiper-two .swiper-wrapper{
    width: 100%;
    height: 100%;
}
.mySwiper-two .swiper-wrapper .swiper-slide{
    width: 100%;
    /* height: 100%; */
}
.mySwiper-two .swiper-wrapper .swiper-slide .inner{
    height: 100%;
}
.mySwiper-two .swiper-button-next{
    color: #191919;
}
.mySwiper-two .swiper-button-prev{
    color: #191919;
}
.mySwiper-two .swiper-pagination-bullet{
    background: #191919;
}
.mySwiper-two .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{
    top: auto;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .inner{
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    /* padding: 40px 0px; */
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about{
    width: 700px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about > h3{
    height: 56px;
    font-size: 40px;
    font-weight: 700;
    margin: 40px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about h3 + div{
    margin: 220px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .education{
    display: flex;
    align-items: center;
    margin: 0px 0px 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .education h3{
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 20px 0px 0px;
}
/* .mySwiper-one .swiper-wrapper .swiper-slide.three .about .education ul li{
    color: #767676;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .education ul li span{
    color: #767676;
} */
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .license{
    display: flex;
    margin: 0px 0px 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .license h3{
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}
/* .mySwiper-one .swiper-wrapper .swiper-slide.three .about .license ul li{
    color: #767676;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .license ul li span{
    color: #767676;
} */
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .license ul li:last-child{
    margin-bottom: 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill{
    display: flex;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill h3{
    height: 28px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul{
    display: flex;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul li{
    width: 40px;
    height: 40px;
    /* background: #f1f1f5; */
    margin-right: 20px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul li:first-child{
    background-image: url(image/Adobe_illustrator_ICON.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul li:nth-child(2){
    background-image: url(image/Adobe_Photoshop_ICON.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul li:nth-child(3){
    background-image: url(image/HTML_5_ICON.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul li:nth-child(4){
    background-image: url(image/CSS_3_ICON.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .about .skill ul li:last-child{
    background-image: url(image/jQuery_ICON.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact{
    width: 700px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact h3{
    height: 56px;
    font-size: 40px;
    font-weight: 700;
    margin: 40px 0px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact h3 + div{
    margin: 210px 0px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact .tel{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 40px;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact .tel dt{
    height: 28px;
    font-size: 20px;
    font-weight: 700;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact .tel dd{
    font-size: 40px;
    font-weight: 700;
    /* -webkit-text-fill-color: white; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #191919; */
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact .e-mail{
    display: flex;
    flex-direction: column;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact .e-mail dt{
    height: 28px;
    font-size: 20px;
    font-weight: 700;
}
.mySwiper-one .swiper-wrapper .swiper-slide.three .contact .e-mail dd{
    font-size: 40px;
    font-weight: 700;
    /* -webkit-text-fill-color: white; */
    /* -webkit-text-stroke-width: 1px; */
    /* -webkit-text-stroke-color: #191919; */
}
