@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Noto Serif */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
/* Noto Seif KR */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
/* Google Icons*/
*{
    box-sizing: border-box;
    color: #191919;
    /* outline: 1px solid red; */
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Noto Serif', serif; */
    /* font-family: 'Noto Serif KR', serif; */
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
body{
    min-width: 320px;
}
.inner{
    width: 1200px;
    margin: 0px auto;
}
li{
    list-style: none;
}
a {
    text-decoration: none; 
    color: inherit;
}
h2{
    font-size: 40px;
    font-weight: 700;
}
h3{
    font-size: 30px;
    font-weight: 700;
}
h4{
    font-size: 20px;
    font-weight: 700;
}
article{
    margin: 0px 0px 20px;
}
nav{
    width: 100vw;
    height: 100px;
    /* background: #fff; */
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 0px 40px;
}
nav h1 a{
    font-size: 30px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 0px 80px;
}
nav ul li:first-child{
    margin: 0px;
}
nav button{
    width: 40px;
    height: 40px;
    display: none;
}
section{
    height: 100vh;
    padding: 100px 0px;
}
.section-one{
    /* min-width: 1920px; */
    background: #fff;
    position: relative;
    overflow: hidden;
    /* padding: 100px 0px 0px; */
}
.section-one h2{
    display: none;
}
.section-one ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: ; */
}
.section-one ul li{
    font-size: 25vh;
    font-weight: 700;
    letter-spacing: -10px;
    line-height: 1;
    white-space: nowrap;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
.section-one button{
    height: auto;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 100px;
    bottom: 100px;
}
.section-one button span:first-child{
    width: 26px;
    height: 40px;
    border: solid 2px #191919;
    border-radius: 13px;
    color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 10px;
}
.section-one button span:first-child::after{
    width: 10px;
    height: 10px;
    background-color: #191919;
    border-radius: 5px;
    content: "";
    animation: animation 1.2s ease-out infinite;
}
@keyframes animation {
    0% { transform: translateY(-12px); opacity: 0; }
    30%, 70% { opacity: 1; }
    100% { transform: translateY(12px); opacity: 0; }
}
.section-one button span:last-child{
    font-size: 20px;
    text-align: center;
}
.section-two{
    background: #fff;
}
.section-two .inner{
    height: 100%;
    display: flex;
    /* align-content: flex-start; */
    flex-wrap: wrap;
    position: relative;
}
.section-two .inner::after{
    width: 75%;
    height: 1px;
    content: "";
    background: #191919;
    position: absolute;
    top: 0px;
    left: 0px;
}
.section-two .inner h2{
    width: 100%;
    height: 60px;
}
.section-two .inner > div:first-of-type{
    width: 60%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0px 10px;
}
.section-two .inner > div:first-of-type img{
    width: 100%;
    box-shadow: 1px 3px 5px rgba(25,25,25,0.25);
}
.section-two .inner > div:last-of-type{
    width: 40%;
    height: calc(100% - 60px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 0px 20px;
}
.section-two div:last-of-type .cross-browsing{
    display: flex;
    margin: 0px 0px 40px;
}
.section-two div:last-of-type .cross-browsing h4{
    margin: 0px 20px 0px 0px;
}
.section-two div:last-of-type .cross-browsing ul{
    display: flex;
}
.section-two div:last-of-type .cross-browsing ul li{
    width: 40px;
    height: 40px;
    /* border-radius: 20px; */
    /* background: #f1f1f5; */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 10px 0px 0px;
}
.section-two div:last-of-type .cross-browsing ul li:first-child{
    background-image: url(../image/Internet_Explorer_ICON.png);
    position: relative;
}
.section-two div:last-of-type .cross-browsing ul li:first-child::before{
    width: 110px;
    content: "IE9, IE10, IE11";
    color: #767676;
    font-size: 16px;
    position: absolute;
    top: 40px;
    left: 0px;
}
.section-two div:last-of-type .cross-browsing ul li:nth-child(2){
    background-image: url(../image/Microsoft_Edge_ICON.png);
}
.section-two div:last-of-type .cross-browsing ul li:nth-child(3){
    background-image: url(../image/Google_Chrome_ICON.png);
}
.section-two div:last-of-type .cross-browsing ul li:last-child{
    background-image: url(../image/Firefox_ICON.png);
    margin: 0px;
}
.section-two .shortcut{
    width: calc(100% - 20px);
    height: 40px;
    display: flex;
}
.section-two .shortcut a{
    width: 100px;
    height: 40px;
    background: #191919;
    /* background: rgba(25, 25, 25, 0.75); */
    border: none;
    line-height: 40px;
    text-align: center;
    margin: 0px 20px 0px 0px;
}
.section-two .shortcut a span{
    color: #fff;
}
.section-three{
    background: #fff;
}
.section-three .inner{
    height: 100%;
}
.section-three .about,
.section-three .contact{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.section-three .about{
    align-items: flex-start;
    position: relative;
}
.section-three .about::after{
    width: 50%;
    height: 1px;
    content: "";
    background: #191919;
    position: absolute;
    top: 0px;
    left: 0px;
}
.section-three .contact{
    align-items: flex-end;
    position: relative;
}
.section-three .contact::after{
    width: 50%;
    height: 1px;
    content: "";
    background: #191919;
    position: absolute;
    top: 0px;
    right: 0px;
}
.section-three .about h2,
.section-three .contact h2{
    height: 60px;
}
.section-three .about h2 + div,
.section-three .contact h2 + div{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-three .about .skill,
.section-three .contact .e-mail{
    margin: 0px;
}
.section-three .contact article{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}